
.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 120px;

    img {
        width: 80px;
    }
}

a {
    color: #1C1C1C;
    font-weight: bolder;

    &.link-active {
        color: #0082F9;
        border-bottom: 3px solid #0082F9;
        border-radius: 0;
        
    }
}